.container{
  max-width: 1000px;
  margin:0 auto;
}
h2{
  margin: 30px 0px 20px 0px;
  text-align: center;
}
.table{
  background-color: #acf468c6;
  border-radius: 5px;
  border: 2px #a2ff4b solid;
}
.table-item{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
p{
  background-color: #91cf57;
}

.my-score-btn{
  margin-bottom: 30px;
}
