<div class="container">
  <br />
  <br />
  <h2>WELCOME!</h2>
  <form [formGroup]="form" (ngSubmit)="onStartClicked()">
    <div class="label-card">
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Player name</label>
        <input formControlName="name" name="name" type="name" class="form-control" id="formGroupExampleInput2"
          placeholder="Player name" />
      </div>
      <div *ngIf="form.get('name').invalid && form.get('name').touched">
        <p *ngIf="form.get('name').errors.required">Name is required</p>
        <p *ngIf="form.get('name').errors.minlength">Name must be at least 5 characters</p>
      </div>
      <div class="mb-3">
        <label for="token" class="form-label">Token (Student ID):</label>
        <input id="token" formControlName="token" class="form-control" placeholder="Token">
      </div>
      <div *ngIf="form.get('token').invalid && form.get('token').touched">
        <p *ngIf="form.get('token').errors.required">Token is required</p>
        <p *ngIf="form.get('token').errors.pattern">Token must be a 4-digit number</p>
      </div>
      <div class="mb-3">
        <label for="colorPalette" class="form-label">Select Color Palette</label>
        <select formControlName="colorPalette" id="colorPalette" class="form-control">
          <option value="normal">Normal</option>
          <option value="high-contrast">High Contrast</option>
        </select>
      </div>
      <div class="button-box">
        <button [disabled]="form.invalid" type="submit" class="btn btn-secondary start-game">START GAME</button>
      </div>
    </div>
  </form>
</div>