.container-box{
  max-width: 1400px;
  margin: 0 auto;
}
.nav{
  padding: 30px;
  justify-content: space-between;
}
.nav-right{
  display: flex;
  justify-content: flex-end;
}
.nav-item{
  background-color: #ce02ceb9;
  padding: 10px;
  margin-top: 5px;
  margin-left: 30px;
  border: solid 2px black;
  border-radius: 5px;
  text-align: center;
}
li.nav-item-time{
  min-width: 160px;
}
li.nav-item-score{
  min-width: 140px;
}
li.nav-item-status{
  min-width: 260px;
}
.logout {
  background-color: #8ada40eb;
  padding: 10px 30px;
}

.scores{
  padding: 10px 60px;
}

.scores:hover{
  background-color: #f6caf6;
}

.logout:hover{
  background-color: #9ce15c;
}
.logout:link, .logout:active{
  background-color: #7bc13a;
}

h1{
  text-align: center;
  font-size: 86px;
  padding: 10px;
  text-shadow: 5px 0 0#8ada40;
  text-decoration: underline;
}
h2{
  text-align: center;
  text-decoration: underline;
}
.color-green{
  font-size: 20px;
  color: #8ada40;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
